[project]
	description = A hubot integration for Cisco Spark
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Anthony Shaw (tonybaloney)
[access "refs/for/refs/*"]
	read = group user/Anthony Shaw (tonybaloney)
	push = group user/Anthony Shaw (tonybaloney)
	label-Code-Review = -2..+2 group user/Anthony Shaw (tonybaloney)
	label-Verified = -1..+1 group user/Anthony Shaw (tonybaloney)
	rebase = group user/Anthony Shaw (tonybaloney)
	removeReviewer = group user/Anthony Shaw (tonybaloney)
	submit = group user/Anthony Shaw (tonybaloney)
[access "refs/heads/*"]
	read = group user/Anthony Shaw (tonybaloney)
	create = group user/Anthony Shaw (tonybaloney)
	push = +force group user/Anthony Shaw (tonybaloney)
	pushMerge = group user/Anthony Shaw (tonybaloney)
[access "refs/tags/*"]
	push = +force group user/Anthony Shaw (tonybaloney)
	pushTag = group user/Anthony Shaw (tonybaloney)
	pushSignedTag = group user/Anthony Shaw (tonybaloney)
